@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
  margin: 0 0;
  height: 100%
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 30px;
  background: #121a42;
  color: #fff;
}

.logo, .foot-logo {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 30px;
  color: #9ed2ff;
}

.getstarted {
  background: #ffffff;
  padding: 5px 10px;
  color: #121a42;
  font-family: 'Comfortaa', cursive;
  display: flex;
  align-items: center;
}

.loginLink {
  background: #121a42;
  padding: 5px 10px;
  color: #fff;
  font-family: 'Comfortaa', cursive;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
}

.loginLink:hover {
  color: #28285d;
  background: #d9e8f5
}

.section1 {
  background: #9237650a;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sectionContent {
  text-align: center;
  margin: 0;
  line-height: 1.6;
}

.move {
  font-size: 35px;
  color: #28285d;
  margin-top: 0;
  margin-bottom: 0;
}

.create {
  font-family: 'Comfortaa', cursive;
  margin-top: 0;
  margin-bottom: 0;
}

.create-acc {
  background: #121a42;
  padding: 8px 10px;
  color: #fff;
  font-family: 'Comfortaa', cursive;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  border: none;
}

.create-acc:hover {
  /* color: #fff;
  background: #28285d;
  opacity: 0.4; */
  text-decoration: underline;
}

footer {
  font-family: 'Comfortaa', cursive;
  background: #121a42;
  letter-spacing: 0.1em;
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  left: 0;
  right: 0;
}

.footerText {
  text-align: center;
  color: #fff;
}

img {
  width: 200px;
  height: 204px;
}


/* portrait mobile */
@media (min-width: 320px) and (max-width: 480px) {
  .getstarted {
    font-size: 12px;
    padding: 2px;
  }

  .sectionContent {
    line-height: 1.8;
  }

  .move {
    font-size: 20px;
  }

  .footerText {
    font-size: 12px;
    padding: 5px;
    margin-bottom: 15%;
  }

  .foot-logo {
    font-size: 18px;
  }

  .container {
    overflow: scroll;
  }
}


/* landscape mobile */
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    overflow: scroll;
  }

  .getstarted {
    font-size: 10px;
    padding: 2px;
  }

  .sectionContent {
    line-height: 1.8;
  }

  .move {
    font-size: 20px;
  }

  .footerText {
    font-size: 12px;
    padding: 5px;
    margin-bottom: 5%;
  }

  .foot-logo {
    font-size: 18px;
  }
}