@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=League+Script');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.cont {
  background: #222b56;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  overflow: hidden;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4c484729;
  opacity: 0.8;
  z-index: 1;
}

.login-cont {
  min-width: 30%;
  box-sizing: border-box;
  border: 1px solid #252e5b;
  margin: 0;
  padding: 10px 0;
  background: #fff;
  z-index: 2;
  min-height: fit-content;
}

.login-txt {
  font-size: 40px;
  color: #1d2f88;
  text-align: center;
  padding: 10px;
}

.loginFormContainer {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 2;
}

.email-cont, .pwd-cont {
  width: 100%;
  align-items: center;
  margin: 5px;
}

input.input-style {
  text-align: center;
}


.email-cont, .pwd-cont {
  display: flex;
  flex-direction: column;
}

input.login-input {
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background: none;
  outline: none;
  width: 90%;
  color: #9E9E9E;
  padding: 5px 10px 10px 5px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #36407c;
}

.label-col {
  color: #36407c;
  font-size: 14px;
  font-weight: bolder;
  font-family: 'Comfortaa', cursive;
}

.login-sub {
  background: #121a42;
  color: #fff;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 20px;
  padding: 5px 25px;
  border: 1px solid #fffcfcfa;
  min-width: 40%;
}

.hve-acct {
  color: #36407c;
  font-family: 'Comfortaa', cursive;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.signupLink {
  background: #fff;
  padding: 5px 10px;
  color: #28285d;
  font-family: 'Comfortaa', cursive;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  margin-left: 5px;
  border: 1px solid #36407c;
}

.signupLink:hover {
  text-decoration: underline;
  background: #252e5b;
  color: #fff
}

.loginErr {
  color: #cc0000;
  padding: 0 30px;
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .hve-acct, .signupLink {
    font-size: 14px;
  }

  .signupLink {
    font-size: 20px;
  }

  .login-cont {
    width: 100%;
    height: 100vh;
    background: #121a42;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login-txt {
    color: #fff;
  }

  .login-sub {
    font-size: 25px;
  }

  .cont {
    display: block;
    height: 100vh;
    overflow: scroll;
  }

  #overlay {
    display: none;
  }

  .label-col, .hve-acct {
    color: #fff;
  }

  .loginErr {
    text-align: center;

  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .hve-acct, .signupLink {
    font-size: 14px;
  }

  .signupLink {
    font-size: 20px;
  }

  .login-cont {
    width: 100%;
    height: 100vh;
    background: #121a42;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login-txt {
    color: #fff;
  }

  .cont {
    display: block;
    height: 100vh;
    overflow: scroll;
  }

  #overlay {
    display: none;
  }

  .label-col, .hve-acct {
    color: #fff;
  }

  .loginErr {
    text-align: center;

  }
}