.profile {
  margin-top: 5%;
  color: #253658;
}

button.btn {
  background: #25335a;
  color: #fff;
  padding: 5px;
  outline: none;
}

.articlesHeader {
  color: #253658;
}

.no-art {
  color: #e60707;
}

.profileBody {
  color: #272f5c;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  text-transform: none;
  background: #25335a;
  width: 30%;
  margin-top: 2%;
  padding: 30px 0;
}
  
.profiles-div {
  display: flex;
  align-items: baseline;
}

.profiles-label {
  font-size: 16px;
  margin-right: 10px;
  color: #9ed2ff;
}

.profileBody span {
  font-size: 14px;
  font-family: monospace;
  color: #fff;
  margin: 0;
  line-height: 2;
  font-weight: 200;
}

/* articles */
.profileArtBody {
  color: #272f5c;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  text-transform: none;
  background: #63696912;
  padding: 15px;
  width: 50%;
}

.articleBody p {
  font-size: 14px;
  font-family: sans-serif;
  color: #25335ade;
}

.articleBody h2 {
  font-size: 30px;
}

.articleBody h3 {
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
}

p.author, p.date-published {
  font-size: 10px;
  color: #847e7e;
}

span {
  font-weight: bold;
}

/* form edit */
input.input-col {
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  background: #fff;
  outline: none;
  color: #28285d;
  padding: 5px 10px 10px 5px;
}

textarea.input-col {
  box-sizing: border-box;
  background: #fff;
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  width: auto;
  color: #28285d;
  border-radius: 0;
  resize: none;
  outline: none;
  border: 1px solid;
  height: 150px;
  padding: 5px;
}

.profileFormEdit {
  width: 50%;
}

.profileFormEdit button {
  border-radius: 5px;
  margin: 8px 0;
  padding: 5px 10px;
  color: #fff;
  background: #25335a;
  cursor: pointer;
  outline: none;
  font-size: 10px;
  font-family: 'Comfortaa', cursive;
  box-shadow: 2px 5px 15px #5b5d63a6;
}