.pf-cont {
  padding: 0 30px;
  margin-top: 7%;
}

.profile {
  margin-top: 7%;
  color: #121a42;
}

.articlesHeader {
  color: #121a42;
  font-family: 'Comfortaa', cursive;
  margin-top: 5%;
}

.no-art {
  color: #e60707;
  font-family: 'Comfortaa', cursive;
}

.profileBody {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  text-transform: none;
  background: #121a42;
  width: 50%;
  padding: 10px;
}
  
.profiles-div {
  display: flex;
  align-items: baseline;
}

.profiles-label {
  font-size: 16px;
  margin-right: 10px;
  color: #9ed2ff;
}

.profileBody span {
  font-size: 14px;
  font-family: monospace;
  color: #fff;
  margin: 0;
  line-height: 2;
  font-weight: 200;
}

/* articles */
.profileArtBody {
  color: #272f5c;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  text-transform: none;
  background: #63696912;
  padding: 15px;
  width: 50%;
  margin: 5px 0;
}

.articleBody p {
  font-size: 14px;
  font-family: sans-serif;
  color: #25335ade;
}

.articleBody h2 {
  font-size: 30px;
}

.articleBody h3 {
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
}

p.author, p.date-published {
  font-size: 10px;
  color: #847e7e;
}

span {
  font-weight: bold;
}

/* form edit */
input.input-col {
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  background: #fff;
  outline: none;
  color: #28285d;
  padding: 5px 10px 10px 5px;
}

textarea.input-col {
  box-sizing: border-box;
  background: #fff;
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  width: auto;
  color: #28285d;
  border-radius: 0;
  resize: none;
  outline: none;
  border: 1px solid;
  height: 150px;
  padding: 5px;
}

.pf-btn {
  margin-bottom: 3%;
}

.profileFormEdit {
  width: 50%;
}

.edit-btn, .save-btn {
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  margin: 1px;
  background: #121a42;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
  box-shadow: 2px 5px 15px #5b5d63a6;
  border: none;
}

.delete-btn, .cancel-btn{
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  margin: 1px;
  background: #9e190f;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
  box-shadow: 2px 5px 15px #5b5d63a6;
  border: none;
}

.edit-err {
  color: #ff0b0b;
  font-family: 'Comfortaa', cursive;
  margin-top: 2%;
  text-transform: capitalize;
}

.profile-title {
  padding: 5px 25px;
  font-size: 14px;
  border: 1px solid #fff;
  color:#121a42;
  background: #fff;
  outline: none;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
  .pf-cont {
    margin-top: 15%;
    padding: 0;
    text-align: center;
  }

  .nav-head {
    padding: 0;
  }

  .profileFormEdit {
    background: #121a42;
    border-radius: 8px;
    padding: 6px 0;
  }

  .profileBody, .profileFormEdit {
    display: flex;
    padding: 0;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .profiles-div {
    padding: 2px 5px;
  }

  .pf-btn {
    margin-top: 3%;
  }

  .articlesHeader, .no-art {
    font-size: 20px;
  }

  .form-edit {
    padding: 4px;
  }

  .prof-label {
    color: #fff;
    padding: 5px;
  }

  input.input-col {
    text-align: center;
    border: none;
    border-bottom: 1px solid #121a42;
    padding: 15px;
  }

  .btn-wrap, .pf-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .profileFormEdit button, .pf-btn button {
    box-shadow: none;
  }

  button.save-btn {
    background: #fff;
    text-decoration: underline;
    color: #121a42;
    font-weight: bolder;
  }

  .profileArtBody {
    width: 96%;
    padding: 6px;
    text-align: left;
    margin: 5px auto;
  }

  .profileArtBody h2 {
    font-size: 18px;
  }

  .profileArtBody p {
    font-size: 14px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .pf-cont {
    margin-top: 15%;
    padding: 0;
    text-align: center;
  }

  .nav-head {
    padding: 0;
  }

  .profileFormEdit {
    background: #121a42;
    border-radius: 8px;
    padding: 6px 0;
  }

  .profileBody, .profileFormEdit {
    display: flex;
    padding: 0;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .profiles-div {
    padding: 2px 5px;
  }

  .pf-btn {
    margin-top: 3%;
  }

  .articlesHeader, .no-art {
    font-size: 20px;
  }

  .form-edit {
    padding: 4px;
  }

  .label {
    color: #fff;
    padding: 5px;
  }

  input.input-col {
    text-align: center;
    border: none;
    border-bottom: 1px solid #121a42;
    padding: 15px;
  }

  .btn-wrap, .pf-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .profileFormEdit button, .pf-btn button {
    box-shadow: none;
  }

  button.save-btn {
    background: #fff;
    text-decoration: underline;
    color: #121a42;
    font-weight: bolder;
  }

  .profileArtBody {
    width: 96%;
    padding: 6px;
    text-align: left;
    margin: 5px auto;
  }

  .profileArtBody h2 {
    font-size: 18px;
  }

  .profileArtBody p {
    font-size: 14px;
  }
}