.resetPwd-cont {
  background: #e2e2e2;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resetPwd-holder {
  margin: 0;
  width: 40%;
}

.resetPwd-header {
  text-align: center;
  font-size: 34px;
  font-family: 'Covered By Your Grace', cursive;
  color: #1c8efb;
  background: #f1f1f1;
  padding: 5px;
  border-radius: 2px 2px 0 0;
}

.resetPwd-header h3, .resetPwd-form p {
  margin: 0;
}

form.resetPwd-form {
  background: #f1f1f1;
  padding: 10px 10px;
  box-shadow: 0 2px 10px #e2e2e2;
  min-height: 30vh;
  margin: 1px;
}

p.pwdReset-ins {
  font-size: 12px;
  font-family: sans-serif;
}

.reset-pwd, .confirm-pwd {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

label.resetPwd-lab {
  font-size: 12px;
  font-family: sans-serif;
  padding: 5px 0;
  font-weight: bolder;
}

input.resetPwd-input {
  padding: 8px;
  border-radius: 2px;
  box-sizing: border-box;
  border: 1px solid #0084ff;
  outline: none;
  box-shadow: inset 0 0 6px #e2e2e2;
  background: #fff;
}

input.resetPwd-input:focus {
  box-shadow: 0 0px 5px #0084ff;
  border: 1px solid #0084ff;
}

.resetPwd-foot {
  background: #f1f1f1;
  margin: 1px;
  box-shadow: 0 0 10px #e2e2e2;
  text-align: center;
  padding: 15px;
  border-radius: 0 0 2px 2px;
}

button.resetPwd-submit {
  color: #fff;
  background: #1c8efb;
  padding: 10px 10px;
  font-size: 10px;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  min-width: 40%;
}

button.resetPwd-submit:focus {
  opacity: 0.5;
}

@media (min-width: 320px) and (max-width: 480px) {
  .resetPwd-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
  }

  .resetPwd-cont {
    background: #f1f1f1;
    display: block;
    height: 100vh;
  }

  p.pwdReset-ins {
    font-size: 18px;
  }

  label.resetPwd-lab {
    font-size: 18px;
}

  .resetPwd-holder {
    width: 100%;
    height: 100vh;
  }

  form.resetPwd-form {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .reset-pwd, .confirm-pwd {
    padding: 20px 0;
  }

  button.resetPwd-submit {
    font-size: 15px;
  }

  .resetPwd-foot {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    margin: 0;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .resetPwd-holder {
    width: 100%;
  }
}