.searchCont {
  position: relative;
  display: flex;
  align-items: center;
}

.search {
  position: absolute;
  top: 0;
  right: 0;
}

.search > div > .search-input {
  color: #101e417d;
  font-size: 16px;
  font-weight: 400;
  background: transparent;
  width: 200px;
  height: 15px;
  padding: 16px;
  border: solid 1px #bbb;
  outline: none;
  border-radius: 5px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .search > div > .search-input {
    width: 170px;
    padding: 13px 10px;
    border: none;
    border-bottom: 1px solid #dbdde0;
    border-radius: 29px;
    font-size: 12px;
  }
}