@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=League+Script');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.signUp {
  border: 1px solid #36407c;
  width: 35%;
  background: #ffffff;
  position: absolute;
  top: 10%;
  z-index: 1;
  left: 35%;
}

.signup-txt {
  font-family: 'League Script', cursive;
  font-size: 40px;
  color: #36407c;
  text-align: center;
  margin: 10px 0;
}

.nameContainer, .emailContainer, .bioContainer, .passwordContainer {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

input[type="text"] {
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background: none;
  outline: none;
  width: 90%;
  color: #36407c;
  padding: 5px 10px 10px 5px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #36407c;
}

label {
  color: #36407c;
  font-size: 14px;
  font-weight: bolder;
  font-family: 'Comfortaa', cursive;
}

textarea {
  box-sizing: border-box;
  background: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 90%;
  color: #36407c;
  padding: 5px 10px 10px 5px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #36407c;
  resize: none;
  outline: none;
}

input[type="password"] {
  width: 90%;
  box-sizing: border-box;
  font-size: 16px;
  background: none;
  color: #36407c;
  padding: 5px 10px 10px 5px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #36407c;
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  -webkit-text-fill-color: #fff !important;
}

.signup-Submit {
  background: #28285d;
  color: #fff;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 20px;
  margin-left: 30px;
  padding: 5px 25px;
}

.signup-Submit:hover {
  background: #fff; 
  color: #28285d;
}

.hve-acc {
  padding: 0 30px;
  color: #36407c;
  font-family: 'Comfortaa', cursive;
  display: flex;
  align-items: center;
}

.loginLink {
  background: #fff;
  padding: 5px 10px;
  color: #28285d;
  font-family: 'Comfortaa', cursive;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  margin-left: 5px;
  border: 1px solid #36407c;
}

.loginLink:hover {
  text-decoration: underline;
  background: #252e5b;
  color: #fff
}

.err-msg {
  color: #ff0b0b;
  padding: 0 30px;
  font-family: 'Comfortaa', cursive;
}

.succ-msg {
  color: rgb(0, 211, 28);
  padding: 0 30px;
  font-family: 'Comfortaa', cursive;
}

.topright {
  position: absolute;
  top: 0;
  font-size: 25px;
  cursor: pointer;
  right: 0;
  outline: none;
  border: 1px solid #36407c;
  border-top: none;
  border-right: none;
}

.topright:hover {
  color: #ff0b0b;
  background: #36407c;
}