.userContainer {
  width: 70%;
  margin: 0 auto; 
  margin-top: 7%;
}

.userBody {
  line-height: 1;
  text-transform: none;
  background: #121a42;
  margin: 1px;
  font-family: 'Roboto', sans-serif;
  padding: 15px;
}
    
.users {
  display: flex;
  align-items: baseline;
}

.users-label {
  font-size: 16px;
  margin-right: 10px;
  color: #9ed2ff;
}

.userBody span {
  font-size: 14px;
  font-family: monospace;
  color: #fff;
  margin: 0;
  line-height: 2;
  font-weight: 200;
}

.usr-title {
  padding: 5px 25px;
  font-size: 14px;
  border: 1px solid #fff;
  color:#25335a;
  background: #fff;
  outline: none;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
  .userContainer {
    margin-top: 14%;
    width: 100%;
  }

  .userBody {
    border-radius: 5px
  }
}